body {
  overflow-x: hidden;
}

.contenedor {
  max-width: 90%;
  width: 1200px;
  margin: 2rem auto 10rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 1rem auto 0;
  background-color: #272d2d;
  color: aliceblue;
  padding: 2rem 0;
  text-align: center;
}
